* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter, Arial;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  color: rgb(25, 25, 25);
  align-items: center;
}

.app {
  background-color: rgb(206, 244, 254);
  padding: 40px;
  width: 500px;
  border: solid 1px rgba(4, 166, 206, 0.329);
  border-radius: 24px;
}

.login_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.login_title {
  color: rgb(4, 166, 206);
  font-size: 56px;
  font-weight: 700;
}

.button,
input {
  padding: 16px;
  width: 100%;
  border-radius: 8px;
}

input {
  margin-top: 8px;
  border: none;
  outline: none;
}

.button {
  text-align: center;
  background-color: rgb(4, 166, 206);
  color: rgb(228, 244, 248);
}

button {
  border: none;
}

.button:hover {
  background-color: rgb(2, 145, 181);
  transition: 400ms;
  cursor: pointer;
}

.input_field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
